@model Radisson.Domain.Models.Entities.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameonCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameonCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
