@model PagedViewModel<Reservation>

@{
    ViewData["Title"] = "Keçmiş Rezervasiyalar";
}

<h1>Keçmiş Rezervasiyalar</h1>

@section addcss{
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css">
}


    <div class="page-wrapper">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <div class="d-inline">
                            <h4>Bootstrap Border Sizes</h4>
                            <span>
                                lorem ipsum dolor sit amet, consectetur adipisicing
                                elit
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item" style="float: left;">
                                <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                            </li>

                            <li class="breadcrumb-item" style="float: left;">
                                <span>Kecmiş Rezervasiyalar</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Horizontal Borders</h5>
                    <span>
                        Example of <code>horizontal</code> table borders. This is a
                        default table border style attached to <code>.table</code> class.
                        All borders have the same grey color and style, table itself doesn't
                        have a border, but you can add this border using
                        <code>.table-framed</code> class added to the table with
                        <code>.table</code> class.
                    </span>

                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Surname
                                    </th>
                                    <th>
                                        CheckIn
                                    </th>
                                    <th>
                                        CheckOut
                                    </th>
                                    <th>
                                        RoomTypeId
                                    </th>
                                    <th class="operations">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="ellipse">
                                        @item.Name
                                    </td>
                                    <td class="ellipse">
                                        @item.Surname
                                    </td>
                                    <td class="ellipse">
                                        @item.CheckIn
                                    </td>
                                    <td class="ellipse">
                                        @item.CheckOut
                                    </td>
                                    <td class="ellipse">
                                        @ViewBag.GetRTName(item.RoomTypeId)
                                    </td>
                                    <td class="operations table-imaged">
                                        <a asp-action="DeletedDetails" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa-solid fa-eye"></i></a>
                                        <a class="btn btn-sm btn-danger" onclick="removeEntity(@item.Id, '@item.Name')"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Model.GetPager(Url, "Index", "Admin")
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

@section addjs{

    <script class="removeable">
        function removeEntity(id, name) {
            swal(`Are you sure you want to delete ${name}?`, {
                title: "Diqqet!",
                text: `${name} aid reservasiyani silmək istədiyinizdən əminsiniz?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["No", "Yes"]
            })
                .then((value) => {
                    if (value == true) {
                        let vToken = $('[name=__RequestVerificationToken]').val();
                        let formData = new FormData();
                        formData.set('__RequestVerificationToken', vToken);
                        formData.set('id', id);
                        $.ajax({
                            url: `@Url.Action("DeletedRemove")`,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                console.log(response)
                                if (response.error == true) {
                                    toaster.error(response.message, "Xəta");
                                    return;
                                }
                                location.reload();
                            },
                            error: function (errorResponse) {
                                console.error(errorResponse);
                            }
                        });
                    }
                });
        }

    </script>
    }
