@model ReservationPostCommand


<div class="single-item">
    <div class="form-group">
        <label>Ad</label>
        <input type="text" asp-for="Name" placeholder="Ad" value="@ViewBag.Name">
        <span asp-validation-for="Name"></span>
    </div>
</div>
<div class="single-item">
    <div class="form-group">
        <label>Soyad</label>
        <input type="text" asp-for="Surname" placeholder="Soyad" value="@ViewBag.Surname">
        <span asp-validation-for="Surname"></span>
    </div>
</div>
<div class="single-item">
    <div class="form-group">
        <label>Email</label>
        <input type="email" asp-for="Email" placeholder="Email" value="@ViewBag.Email">
        <span asp-validation-for="Email"></span>
    </div>
</div>
<div class="single-item">
    <div class="form-group">
        <label asp-for="CheckIn">Giriş Tarixi</label>
        <i class="fa fa-angle-down"></i>
        <input type="text" name="CheckIn" placeholder="Giriş Tarixi" id="datepicker" autocomplete="off">
        <span asp-validation-for="CheckIn"></span>
    </div>
</div>
<div class="single-item">
    <div class="form-group">
        <label asp-for="CheckOut">Çıxış Tarixi</label>
        <i class="fa fa-angle-down"></i>
        <input type="text" name="CheckOut" placeholder="Çıxış Tarixi" id="datepicker_1" autocomplete="off">
        <span asp-validation-for="CheckOut"></span>
    </div>
</div>

<div class="single-item">
    <div class="form-group select-box">
        <input hidden type="text" name="RoomTypeId" value="@Model.RoomTypeId" data-price="@Model.RoomPrice">
    </div>
</div>
@if (ViewBag.People != null)
{
    <div class="single-item">
        <div class="form-group select-box">
            <label>Əlavə Qonaqlar</label>
            <select id="p1" name="P1" class="custom-select-box">
                @foreach (var people in ViewBag.People)
                {
                    <option value="@people.Id" data-price="@people.Price">@people.Text - @people.Price AZN</option>
                }
            </select>
            <span asp-validation-for="P1" class="text-danger"></span>
        </div>
    </div>
    <div class="single-item">
        <div class="form-group select-box">
            <label>Əlavə Qonaqlar</label>
            <select id="p2" name="P2" class="custom-select-box">

                @foreach (var people in ViewBag.People)
                {
                    <option value="@people.Id" data-price="@people.Price">@people.Text - @people.Price AZN</option>
                }
            </select>
            <span asp-validation-for="P2" class="text-danger"></span>
        </div>
    </div>
    <div class="single-item">
        <div class="form-group select-box">
            <label>Əlavə Qonaqlar</label>
            <select id="p3" name="P3" class="custom-select-box">
                @foreach (var people in ViewBag.People)
                {
                    <option value="@people.Id" data-price="@people.Price">@people.Text - @people.Price AZN</option>
                }
            </select>
            <span asp-validation-for="P3" class="text-danger"></span>
        </div>
    </div>
}
<div class="single-item">
    <div class="form-group">
        <label>Toplam Qiymət:</label>
        <input name="Price" readonly />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>

<div class="link">
<button type="button" class="theme-btn" data-toggle="modal" data-target="#exampleModal">Rezerv Et</button>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ödəniş</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden type="text" name="ReservationId" value="@Model.ReservationId">
                <input hidden type="text" name="Amount" value="@Model.Amout">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name" class="fixcolor">Kart sahibinin adı</label>
                        <input asp-for="NameonCard" type="text" class="form-control" id="cc-name">
                        <div class="invalid-feedback">
                            <span asp-validation-for="NameonCard" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number" class="fixcolor">Kart Nömrəsi</label>
                        <input asp-for="Number" type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" data-slots="0" data-accept="\d" size="16">
                        <div class="invalid-feedback">
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration" class="fixcolor">Bitmə tarixi</label>
                        <input asp-for="Expiration" type="text" class="form-control" id="cc-expiration" placeholder="mm/yyyy" data-slots="my">
                        <div class="invalid-feedback">
                            <span asp-validation-for="Expiration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv" class="fixcolor">CVV</label>
                        <input asp-for="Cvv" type="text" class="form-control" id="cc-cvv" placeholder="000" data-slots="0" data-accept="\d" size="3">
                        <div class="invalid-feedback">
                            <span asp-validation-for="Cvv" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="theme-btn" data-dismiss="modal">Geri</button>
                <button type="submit" class="theme-btn" >Ödəniş Et</button>
            </div>
        </div>
    </div>
</div>